<div class="container">
  <div class="row justify-content-center align-items-center">
    <h1 class="text-center">Kundenverwaltung</h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="input-group col-md-6">
      <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% kunden.forEach(function(kunde){ %>
      <div class="col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= kunden.lastname %>, <%= kunden.firstname %>
            </h5>
            <p class="card-text">
              Email: <%= kunden.email %><br>
              Telefon: <%= kunden.phone %><br>
              Benutzername: <%= kunden.username %>
            </p>
            <a href="/kunden/show/<%= kunden.id %>" class="btn btn-primary">Anzeigen</a>
            <a href="/kunden/edit/<%= kunden.id %>" class="btn btn-secondary">Ändern</a>
            <a href="/kunden/delete/<%= kunden.id %>" class="btn btn-primary">Löschen</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="row justify-content-center">
    <a href="/kunden/new" class="btn btn-primary">Neuen Kunden hinzufügen</a>
  </div>
</div>