<h1>Kunde Details</h1>
<table>
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= costumer.email %></td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td><%= costumer.nachnahme %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= costumer.name %></td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td><%= costumer.telefon %></td>
    </tr>
    <tr>
      <td>Benutzername</td>
      <td><%= costumer.benutzerName %></td>
    </tr>
  </tbody>
</table>
