<h1>Kunde Details</h1>
<table>
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= costumers.email %></td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td><%= costumers.nachnahme %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= costumers.name %></td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td><%= costumers.telefon %></td>
    </tr>
    <tr>
      <td>Benutzername</td>
      <td><%= costumers.benutzerName %></td>
    </tr>
  </tbody>
</table>
