<h1>Kunde Details</h1>
<table>
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= customer.email %></td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td><%= customer.nachnahme %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= customer.name %></td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td><%= customer.telefon %></td>
    </tr>
    <tr>
      <td>Benutzername</td>
      <td><%= customer.benutzerName %></td>
    </tr>
  </tbody>
</table>
